<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <div class="footer container" th:fragment="footer">
        <hr>
        <footer class="page-footer font-small container cyan darken-3">
            <div class="footer-copyright text-center py-3">
                2022 이정민 스프링부트 쇼핑몰<br><br><br>시간이 된다면?<br><br>
                검색기능 보완, 마이페이지, 찜, 게시판 + 갤러리, 댓글, 결제모듈, 예외처리<br>
                검색기능: 메인에서만 됨..전체 다 될 수 있도록구현 thymeleaf header에서 인식 불가 해결하기<br>
                마이페이지: 장바구니, 찜 상품, 구매내역, 본인 글, 회원정보 넣어두기<br>
                찜: 마무리 작업하기<br>
                게시판 + 갤러리: 상품과 연관된..sns형식<br>
                댓글: 한번도 안해봄;;<br>
                결제모듈: import 마저 붙이기<br>
                예외처리: alert좀 붙이고 가입시 유효성검사<br>
            </div>
        </footer>
    </div>
</html>